@font-face {
  font-family: 'YuansuLab';
  src: url('fonts/fusion-pixel-12px-monospaced-zh_hant.woff2') format('woff2');
}
@font-face {
  font-family: 'YuansuLab';
  src: url('fonts/fusion-pixel-12px-monospaced-zh_hans.woff2') format('woff2');
}
@font-face {
  font-family: 'YuansuLab';
  src: url('fonts/fusion-pixel-12px-monospaced-ja.woff2') format('woff2');
}
@font-face {
  font-family: 'YuansuLab';
  src: url('fonts/fusion-pixel-12px-monospaced-ko.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
 

